<div>
  <form action="/navbar" method="post" style="display: flex; flex-direction: column;">
    <label for="name:">name:</label>
    <input type="text" name="name" id="name1" />
    <label for="email:">email:</label>
    <input type="text" name="email" id="email1" />
    <label for="phone:">phone:</label>
    <input type="text" name="phone" id="phone1" />
    <label for="message:">message:</label>
    <input type="text" name="message" id="message1" />
    
    <button type="submit">click me</button>
  </form>
</div>